.company-card {
  background-color: #181818;
  border-radius: 12px;
  padding: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.1);
  
  text-align: center;
}

.company-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 12px var(--primary-color);
}

.company-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.company-logo-wrapper {
  width: 80px;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

.company-logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.company-main-info h3,
.rating-number,
.company-subtitle,
.company-description,
.company-tag {
  color: #fff; /* تغيير لون النصوص إلى الأبيض */
}

.company-main-info h3 {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.company-subtitle {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.company-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  width: 100%;
}

.rating-number {
  font-size: 1.2rem;
  font-weight: bold;
}

.rating-stars {
  display: flex;
  gap: 3px;
}

.rating-stars i {
  color: #e3dfb4; /* تغيير لون النجوم إلى الأصفر */
  font-size: 1rem;
}

.rating-stars i.active {
  color: #e7d84f;
}

.review-count {
  color: #d5eb47;
  font-size: 0.9rem;
}

.company-tags {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.company-tag {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.85rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.company-tag.promoted {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.company-tag.verified {
  background-color: rgba(200, 200, 200, 0.2);
  color: #ddd;
}

.company-tag i {
  font-size: 0.9rem;
}

.company-description {
  font-size: 0.95rem;
  line-height: 1.5;
}

@media (max-width: 480px) {
  .company-rating,
  .company-tags {
    justify-content: center;
  }
}
